/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
    font-family: inherit;
}

body {
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color .3s ease;
}