/* =========================
   ASSEMBLY
========================= */

.assembly-code {
    min-height: 500px;

    border-radius: 12px;

    padding: 15px;

    font-size: 1rem;
    line-height: 1.8;

    overflow-x: auto;
}