
/* =========================
   CONTROLES
========================= */

.controls {
    display: flex;
    gap: 12px;

    justify-content: center;

    margin-top: 25px;
}

.controls button {
    padding: 14px 22px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 60px;
}